@using KaVoo.Entity;
@model Psikolog

@{
    ViewBag.Title = "Details";
}




    <section class="inner-page">
        <div class="container">
            <div class="row">
                <div class="profile-page">
                    <div class="col-md-4">
                        <div class="tab-content profile-tabs-content" id="myTabContent">
                            <div id="profile-pic1" class="tab-pane fade in active">
                                <img src="~/Upload/@Model.Image" width="570" alt="" />
                            </div>

                        </div>

                        <ul class="profile-info">
                            <li>
                                <span><i class="icon-lightbulb"></i>Deneyim:</span>
                                <p>3 Yıl</p>
                            </li>
                            <li>
                                <span><i class="icon-envelope"></i>Email:</span>
                                <p>Info@lifelinetemplate.com</p>
                            </li>
                            <li>
                                <span><i class="icon-phone"></i>Phone:</span>
                                <p>(123) 000-1425</p>
                            </li>
                        </ul>
                        <div class="cloud-tags">
                            <h3 class="sub-head">Uzmanlıkları</h3>
                            <a title="" href="#">Cinsellik</a>
                            <a title="" href="#">Uyuşturucu</a>
                            <a title="" href="#">Aile İlişkileri</a>
                            <a title="" href="#">Anksiyete</a>
                        </div><!-- Tags -->


                        <ul class="nav nav-tabs profile-tabs" id="myTab">
                        </ul>
                    </div>

                    <div class="col-md-8">

                        <h1><i class="icon-user"></i>Amanda Smith Stevens</h1>
                        <span class="designation">UZMAN PSİKOLOG</span>

                        <div class="cause-bar">
                            <div class="cause-box"><h3><span>Seans</span><br>477</h3></div>
                            <div class="cause-progress">
                                <div class="progress-report">
                                    <h6>Psikolog Puanı</h6>
                                    <span>91%</span>
                                    <div class="progress pattern">
                                        <div class="progress-bar" style="width: 91%"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="cause-box"><h3><span>TL</span>150</h3><i>45dk SEANS</i></div>
                            <div class="cause-box donate-drop-btn"><h4>RANDEVU AL</h4></div>
                        </div>
                        <div class="donate-drop-down">


                           <!-- This templates was made by Colorlib -->

                        </div>


                        <p>
                            Merhaba, ben psikolog Brad Pitt,
                            eğitimim boyunca; sosyal hizmet alanında Okmeydanı Darülaceze’de 2 yıl staj yaptım. Ardından Bakırköy Ruh ve Sinir Hastalıkları Hastanesi ve Erenköy Ruh ve Sinir Hastalıkları Hastanesi’nde bir yılı aşkın bir süre boyunca patolojik vakalar üzerine çalışmalara katıldım. Bu süreçte aynı zamanda Oyun Terapisi, Wisc-R, Psiko-Drama alanında eğitimler aldım. Lisans eğitimimi tamamladıktan sonra Milli Eğitim Bakanlığı bünyesinde özel eğitim, Aile ve Sosyal Politikalar Bakanlığı bünyesinde sosyal hizmet alanında çalıştım. Sonrasında Marmara Üniversitesi’nde Pedogojik Formasyon Eğitimi alarak 2015 itibariyle Milli Eğitim Bakanlığı bünyesinde Rehber Öğretmen olarak çalışmaya başladım.Son üç yıldır ise çocuk, ergen, yetişkin, aile ve çift alanında 1000’in üzerinde danışanla online seans yaparak hizmet verdim ve vermeye devam ediyorum.
                        </p>


                    </div>


                </div>

            </div>

           

            <div class="col-md-11">
                <div class="comments">
                    <h3 class="sub-head">03 Comments</h3>
                    <ul>
                        <li>
                            <div class="comment">
                                <img src="http://placehold.it/73x74" alt="" />
                                <a href="#" class="reply" title="">Reply</a>
                                <h5>Thoms Gomz Britian</h5>
                                <i><span>September</span> 24, 2013  at  1:05 <span>pm</span></i>
                                <p>Aenean blamp esum. erat commodo suscipit. Mae elit a,  eleifend leo. Phase llus ut pharetra mi, ctor diam. id iarciet spen dis se rhoncus idarciret porta. Aenean blandit mi ipsum, ut pharetrnisi vestibul mum ornare.</p>
                            </div><!-- Comment -->
                            <ul>
                                <li>
                                    <div class="comment">
                                        <img src="http://placehold.it/73x74" alt="" />
                                        <a href="#" class="reply" title="">Reply</a>
                                        <h5>Thoms Gomz Britian</h5>
                                        <i><span>September</span> 24, 2013  at  1:05 <span>pm</span></i>
                                        <p>Aenean blamp esum. erat commodo suscipit. Mae elit a,  eleifend leo. Phase llus ut pharetra.</p>
                                    </div><!-- Reply -->

                                </li>
                            </ul>
                        </li>
                        <li>
                            <div class="comment">
                                <img src="http://placehold.it/73x74" alt="" />
                                <a href="#" class="reply" title="">Reply</a>
                                <h5>Thoms Gomz Britian</h5>
                                <i><span>September</span> 24, 2013  at  1:05 <span>pm</span></i>
                                <p>Aenean blamp esum. erat commodo suscipit. Mae elit a,  eleifend leo. Phase llus ut pharetra mi, ctor diam. id iarciet spen dis se rhoncus idarciret porta. Aenean blandit mi ipsum, ut pharetrnisi vestibul mum ornare.</p>
                            </div><!-- Comment -->
                        </li>

                    </ul>
                </div>
                <div class="form">


                    <form>
                        <input type="text" class="form-control input-field" />
                        <label>Email Address <span>*</span></label>
                        <input type="email" class="form-control input-field" />
                        <label>Message <span>*</span></label>
                        <textarea rows="7" class="form-control input-field"></textarea>
                        <input type="submit" class="form-button" value="SEND MESSAGE" />
                    </form>

                </div><!-- Form -->
            </div>
        </div>


    </section>
