
@{
    ViewBag.Title = "Completed";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Randevunuz Tamamlandı!</h2>
            <h4>Lütfen Randevunuza Zamanında Geliniz.</h4>
        </div>
    </div>
</div>


