@using KaVoo.Models;
@model IEnumerable<PsikologModel>
<section class="block remove-top remove-bottom gray no-container">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div id="layerslider-container-fw">

                    <div id="layerslider" style="width: 100%; height: 440px; margin: 0px auto; ">

                        <div class="ls-slide" data-ls="transition3d:53; timeshift:-1000;">
                            <img src="http://placehold.it/890x450" class="ls-bg" alt="Slide background">
                            <h3 class="ls-l slide1" style="top: 103px; left:48px; background: url(images/slider1-img2.png) no-repeat scroll 0 0 / auto 100% transparent; font-family:roboto; font-size:34px; font-weight:bold; color:#4c4c4c; line-height:56px; padding:0 60px 0 60px; ; border-radius:3px;" data-ls="offsetxin:0;offsetyin:bottom;durationin:1000;easingin:easeOutQuad;fadein:false;rotatein:-10;offsetxout:0;durationout:1500;"><i>SAVE</i> <span>ENVIRONMENT</span></h3>
                            <span class="ls-l slide1" style="top: 170px; left:48px; font-family:roboto; font-size:24px; font-weight:600; color:#000; padding:10px 20px 10px 50px; background:rgba(255,255,255,0.9); border-radius:4px 0 0px 4px; border-left:2px solid #93b631; position:relative; line-height:22px; float:left;" data-ls="offsetxin:0;offsetyin:top;durationin:1000;easingin:easeOutQuad;fadein:false;rotatein:10;offsetxout:0;durationout:1500;">BE READY TO WORK <i>WITH US</i></span>
                            <p class="ls-l slide1" style="top: 230px; left:48px; font-family:roboto; font-size:13px; color:#fefefe;" data-ls="delayin:1000; scalein:4; durationin : 1000;">Sed interdum, lacus et vulputate pellentesque, velit nulla commodo <br /> sem, at egestas nulla metus vel sapien! Lorem ipsum dolor</p>
                        </div><!-- Slide1 -->





                    </div>
                </div><!-- Layer Slider -->
            </div>
            <div class="col-md-4">
                <div class="fancy-donation">
                    <img src="http://placehold.it/384x438" alt="" />
                    <div class="donation-appeal">
                        <h6>TAKE ACTION</h6>
                        <h3>SAVE THE <span>BEES</span></h3>
                        <p>Praesent mauris. Fusce nec tellus sed augue semper porta. Sed et varius est ullam nec erosw.</p>
                        <a href="#" data-toggle="modal" data-target="#myModal" title="">Take Action</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




@Html.Partial("_Psikologlar", Model)
<section class="block remove-top">
    <div>
        <div class="row">
            <div class="col-md-12">
                <div class="client-reviews">
                    <ul class="slides">
                        <li>
                            <div class="reviews effect5">
                                <h3><span>"</span>A Collection Of Good Stuff Yours. This Change Every Thing. A Valonteer Trip Abroad With Solution Will Change You<span>"</span></h3>
                            </div>
                        </li>
                        <li>
                            <div class="reviews effect5">
                                <h3><span>"</span>$2 a month can help people around the world fight the way out of poverty and change their lives.<span>"</span></h3>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="block remove-bottom">
    <div class="container">
        <div class="row">
            @if (User.Identity.IsAuthenticated)
            {
                <label class="label label-info">
                    @User.Identity.Name
                </label>
                <a href="/Account/Logout" class="btn btn-danger">Çıkış Yap</a>
                @Html.Action("Summary", "Cart")

            }
            else
            {
                <a href="/Account/Login" class="btn btn-success">Giriş Yap</a>
                <a href="/Account/Register" class="btn btn-primary">Kayıt Ol</a>
                @Html.Action("Summary", "Cart")

            }
        </div>
    </div>
  

</section>

<section class="block remove-bottom">
    <div class="container">
        <div class="row">
            <div class="about-charity">
                <div class="container">
                    <div class="row">
                        <div class="about-charity-desc col-md-7">
                            <h2>What We Think About Our Charity</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed laoreet massa at dui aliquet scelerie. Fiusce ai neque arcu, tempor congue dolor. Phasellus diam enim, vulputate sed ornare eu, fringilla vel sapen. Fusce metus ligula, adipis cing vitae egestas volutpat, laoreet eget augue.</p>

                            <ul>
                                <li><h6>08</h6><span>Years In Charity</span></li>
                                <li><h6>28</h6><span>Project Handled</span></li>
                                <li><h6>230</h6><span>Staff<br /> Members</span></li>
                            </ul>
                        </div>
                        <div class="col-md-5">
                            <div class="about-charity-video">
                                <img src="http://placehold.it/470x278" alt="" />
                                <a class="html5lightbox" href="http://player.vimeo.com/video/31943945?color=ffffff" title="This Is a Demo Video"><span><i class="icon-play"></i></span></a>
                            </div>
                        </div> <!-- Video -->
                    </div>
                </div>
            </div> <!--About Charity-->
        </div>
    </div>
    <br>
    <br>
    <br>
</section>


